<div *ngIf="product">
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
      </div>
      <div class="card__body">
        <div class="half">
  
          <div  class="image" >
            <a class= "image" [routerLink]="['/products', product.id]"> <img [src]="product.pictures[0].url" alt=""
                style="align-self: center;" ></a>
          </div>
        </div>
        <div class="half">
          <div class="featured_text">
            <p class="price">{{product.title}}</p>
            <br>
            <h1>{{product.price | currency}} {{product.currency_id}}</h1>
          </div>
          <br>
          <div class="recommend">
            <p>{{product.warranty}}</p>
          </div>
          <span class="stock" *ngIf="product.available_quantity"><i class="fa fa-pen"></i> In stock</span>
          <div *ngIf="product.attributes.length >8">
            <p class="sub" *ngFor="let attribute of product.attributes|slice:0:8">-{{attribute.name}}:
              {{attribute.value_name}}</p>
          </div>
          <div *ngIf="product.attributes.length <=8">
            <p class="sub" *ngFor="let attribute of product.attributes">-{{attribute.name}}: {{attribute.value_name}}</p>
          </div>
  
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>{{product.seller_address.state.name}}</p>
          <h3>{{product.seller_address.city.name}}</h3>
        </div>
      </div>
    </div>
  </div>
