<div style="max-width: 500; max-height: 400;">

    <a class="group" id="page-wrap" routerLink="/products/search/hogar" rel="external noopener"><div id="inner-wrap"><svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" class="text">
    
     <g>
      <title>Layer 1</title>
      <text font-style="normal" font-weight="normal" xml:space="preserve" text-anchor="start" font-family="Courier New" font-size="50" id="svg_3" y="292.66667" x="111.16667" stroke-opacity="null" stroke-dasharray="null" stroke-width="0" stroke="null" fill="#000000">Juliana Shop</text>
     </g>
    </svg></div></a>
</div>

<app-header></app-header>
<div class="container">
    <router-outlet></router-outlet>
</div>
